@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Paytone+One&display=swap');

p {
  font-family: Nunito;
}

p.fs-8, h3, h2 {
  font-family: "Paytone One";
}

p.fs-8 {
  color: #b378ac;
  font-family: "Paytone One";
  text-shadow: -1px 1px 0 #ae36ff,
    1px 1px 0 #c63d2b,
    1px -1px 0 #42afac,
    -1px -1px 0 #c6c23f;
}