@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Paytone+One&display=swap');

p {
  font-family: Nunito;
}

p.fs-8, h3, h2 {
  font-family: "Paytone One";
}

p.fs-8 {
  font-family: "Paytone One";
  text-shadow: 0px -6px 0 #212121,  
               0px -6px 0 #212121,
               0px  6px 0 #212121,
               0px  6px 0 #212121,
              -6px  0px 0 #212121,  
               6px  0px 0 #212121,
              -6px  0px 0 #212121,
               6px  0px 0 #212121,
              -6px -6px 0 #212121,  
               6px -6px 0 #212121,
              -6px  6px 0 #212121,
               6px  6px 0 #212121,
              -6px  18px 0 #212121,
               0px  18px 0 #212121,
               6px  18px 0 #212121;
}